.topic_lg{
    overflow: hidden;
    margin-bottom: 100px;
    &__wrapper{
        display: flex;
        gap: 32px;
    }
    h2{
        margin-top: 30px;
        font-size: 30px;
        font-weight: 500;
        color: #000;
        width: 520px;
        line-height: 100px;
    }
    .fa-star{
        color: gold;
        margin-bottom: 10px;
    }
    p{
        width: 608px;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        color: #555;
        margin-bottom: 50px;
    } 
    h4{
        font-size: 30px;
        font-weight: 500;
        color: $bg-py;
        margin-bottom: 10px;
    }  
    &__btn{
        padding: 10px 12px;
        border-radius: 50%;
        border: 1px solid  #6FB587;
        cursor: pointer;
        color: #6FB587;
        background: #fff;
        margin-left: 10px;
    }
    &__btn:active{
        transform: scale(.96);
    } 
}

@media (max-width: 1305px) {
    .topic_lg{
        &__wrapper{
            flex-direction: column-reverse;
            align-items: center;
        }
        &__text{
            margin-top: -60px;
        }
    }
}
@media (max-width: 605px) {
    .topic_lg{
        &__wrapper{
            gap: 2px;
        }
        &__text{
            margin-left: 70px;
        }
        h2{
            font-size: 35px;
        }
        p{
            width: 450px;
            line-height: 25px;
        }
        &__img{
            width: 450px;
        }
    }
  
}
@media (max-width: 480px) {
    .topic_lg{
        &__wrapper{
            gap: 20px;
        }
        &__text{
            margin-top: -60px;
            margin-left: 170px;
        }
        h2{
            font-size: 25px;
        }
        p{
            width: 350px;
            line-height: 25px;
        }
        &__img{
            width: 350px;
        }
    }
  
}
@media (max-width: 385px) {
    .topic_lg{
        &__wrapper{
            gap: 20px;
        }
        &__text{
            margin-top: -60px;
            margin-left: 220px;
        }
        h2{
            font-size: 25px;
        }
        p{
            width: 300px;
            line-height: 25px;
        }
        &__img{
            width: 300px;
        }
    }
}